.contactMainCont {
    background-color: #2e5186;
    padding: 100px 100px 40px;
}

.flexRowEnd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contactUsBox {
    text-align: right;
}

.dashWhite {
    width: 20vw;
    color: #fff;
    margin: 10px 0px;
}

.divForHR {
    display: flex;
    justify-content: flex-end;
}

.addressNumber {
    color: #fff;
    font-size: 24px;
    font-weight: 900;
    padding-top: 20px;
}

.contact-stock-img {
    width: 470px;
    height: 350px;
}