.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
}

.flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid-center {
    display: grid;
    place-items: center;
}

.margin-horiz-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-left-20 {
    margin-left: 20px;
}