.App {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

.header {
  height: 52px;
  width: 97%;
  display: flex;
  color: #fff;
  background-color: transparent;
  justify-content: center;
  padding: 15px;
  position: absolute;
  z-index: 10;
}